import init.tegra.rc
on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    mount_all /fstab.jedroid
on init
    # Mount a tmpfs into /mnt/tmp for hosting nvram, phs shared memory
    mkdir /mnt/tmp 0770 system system
    mount tmpfs tmpfs /mnt/tmp mode=0775,gid=1003

on boot
    start bt_init

on property:init.svc.bluetoothd=running
    start hci0_up

on property:init.svc.bluetoothd=stopped
    start hci0_down

service bt_init /system/bin/logwrapper /system/bin/sh /system/etc/init.bt.sh
    class main
    user root
    group bluetooth net_bt_admin system
    disabled
    oneshot

service hci0_up /system/bin/logwrapper /system/xbin/hciconfig hci0 up
    class main
    group bluetooth
    disabled
    oneshot

service hci0_down /system/bin/logwrapper /system/xbin/hciconfig hci0 down
    class main
    group bluetooth
    disabled
    oneshot

import init.bluetooth.rc
